.jumbotron {
  background-image: url('images/roadsunset.jpeg');
  background-size: cover;
  height: 33vh;
  background-position: center;
}

footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}

.icon-instagram,
.icon-facebook {
  font-size: 2rem;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: black;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
